* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #f2e9de;
    color: #b4637a;
}
.container{
    margin:0 30px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 40px 1fr 40px;
    grid-template-areas: 
        "header header"
        "slide-menu content"
        "slide-menu footer";
}

header {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

header nav{
    justify-content: end;
}

nav a{
    text-decoration: none;
    padding: 0 10px;
}

li:hover, i:hover{
    color: #ea9d34;
}

section {
    grid-area: slide-menu;
}


.slide-menu ul li {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    list-style: none;
}

textarea {
    padding-top: 10px;
    height: 50%;
    width: 50%
}

article{
    grid-area: content;
    display:inline-block;
    padding-top: 50px;
    padding-left:50px;
}

article p{
    padding-left: 10px;
}

.text-area i {
    position:relative;
    bottom:80px;
}

.text-button{
    margin-left: 50px;
}

footer{
    grid-area: footer;   
    justify-self: start; 
}

@media screen and (min-width:540px){
    footer{
        justify-self: center;
    }
}